{
    "presets": ["babel-preset-gatsby"],

    "plugins": [
        [
            "prismjs",
            {
                "languages": ["javascript", "css", "html", "jsx", "markup"],
                "plugins": ["line-numbers", "show-language"],
                // "theme": "okaidia",
                // "theme": "twilight",
                "css": true
            }
        ]
    ]
}
